body {
    background: linear-gradient(#ffffff, #E7F2EF);
    margin: 0px;
}

#wrapper {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}

header {
    height: 141px;
    background-color: #19183B;
    color: white;
    font-family: 'Jaro', sans-serif;
    display: flex;
    align-items: center;
    grid-column: 2 / 8;
}

header h1 {
    font-size: 48px;
    margin: 25px;
}

header h2 {
    font-size: 20px;
}

nav {
    height: 53px;
    background-color: #708993;
    color: #E7F2EF;
    font-family: 'Jockey One', sans-serif;
    font-size: large;
    grid-column: 2 / 8;
}

nav a {
    text-decoration: none;
    color: #E7F2EF;
    display: block;
    text-align: center;
    padding: 14px 0rem;
}

nav a:hover {
    background-color: #94b3c0;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

nav ul li {
    width: 100%;
}

.nav-item-dropdown {
    position: relative;
}

.dropdown-content {
    position: absolute;
    background-color: #708993;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.779);
    width: 100%;
    display: none;
}

.nav-item-dropdown:hover .dropdown-content {
    display: block;
}

#homehero1 {
    background-image: url(./images/Velocicoaster.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 349px;
    grid-column: 2 / 8;
}
#abouthero {
    background-image: url(./images/primordial.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 325px;
    grid-column: 2 / 8;
}
#elementhero {
    background-image: url(./images/colossus.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 325px;
    grid-column: 2 / 8;
}

#homecontent {
    display: flex;
    height: 498px;
    background-color: #E7F2EF;
    grid-column: 2 / 8;
}

.general-content {
    display: flex;
    height: auto;
    background-color: #E7F2EF;
    grid-column: 2 / 8;
}

.p-content {
    background-color: #ffffff;
    height: fit-content;
    padding: 10px;
    margin: 10px;
    width: 50%;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 5px;
    box-shadow: 2px 3px 3px rgb(209, 209, 209);
    font-family: 'koulen', sans-serif;
}

.content-label-section {
    display: flex;
    height: auto;
    justify-content: center;
    background-color: #E7F2EF;
    grid-column: 2/8;
}

.content {
    display: flex;
    flex-flow: column;
    height: auto;
    background-color: #E7F2EF;
    grid-column: 2/8;
}

.content-label {
    text-align: center;
    background-color: #D9D9D9;
    box-shadow: 2px 2px 2px rgb(75, 75, 75);
    border-radius: 15px;
    width: 100%;
    height: fit-content;
    font-size: 14pt;
    font-family: 'koulen', sans-serif;
    margin: 8px;
    justify-self: center;
}

.content-item {
    font-family: 'koulen', sans-serif;
    margin: 15px;
}

.content-item p {
    font-size: 14pt;
}


/*.general-content img {
    max-width: 35%;
    height: ;
    margin: 10px;
    margin-left: 20px;
    justify-self: right;
}*/

.img-content {
    border: 1px solid black;

}

#about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 498px;
    background-color: #E7F2EF;
    grid-column: 2 / 8;
}
#about-container a {
    padding: 2px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.card {
    background-color: #D9D9D9;
    box-shadow: 2px 2px 2px rgb(75, 75, 75);
    border-radius: 15px;
    padding: 15px;
    width: 50%;
    font-size: 16pt;
    font-family: 'koulen', sans-serif;
    margin: 10px;
    transition: ease-in 0.1s;
}

.card:hover {
    box-shadow: 2px 3px 3px rgb(42, 42, 42);
    background-color: #e0e0e0;
}

.item {
    text-align: center;
    background-color: #D9D9D9;
    box-shadow: 2px 2px 2px rgb(75, 75, 75);
    border-radius: 15px;
    padding: 15px;
    width: 25%;
    height: fit-content;
    font-size: 16pt;
    font-family: 'koulen', sans-serif;
    margin: 10px;
    transition: ease-in 0.1s;
}
.item:hover {
    box-shadow: 2px 3px 3px rgb(42, 42, 42);
    background-color: #e0e0e0;
    transform: translateY(-5px);
}
.item2 {
    text-align: center;
    background-color: #D9D9D9;
    box-shadow: 2px 2px 2px rgb(75, 75, 75);
    border-radius: 15px;
    padding: 0px;
    width: 50%;
    height: fit-content;
    font-size: 16pt;
    font-family: 'koulen', sans-serif;
    margin: 8px;
    transition: ease-in 0.1s;
}
.item2:hover {
    box-shadow: 2px 3px 3px rgb(42, 42, 42);
    background-color: #e0e0e0;
}

.funfact #funfact {
    display: flex;
    margin-top: 1rem;
}

.funfact #funfact p {
    padding: 10px;
}

.funfact #funfact-title {
    text-decoration: underline;
    text-align: center;
}

#Cannibal {
    max-width: 35%;
}

#Cannibal_landscape {
    display: none;
}

#homehero2 {
    height: 301px;
    background-image: url(./images/Wicked_cropped.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column: 2 / 8;
}

#interests {
    background-color: #E7F2EF;
    height: 290px;
    grid-column: 2 / 8;
}

#interests #interests-title {
    font-family: 'koulen', sans-serif;
    font-size: 18pt;
    background-color: #D9D9D9;
    box-shadow: 2px 2px 2px black;
    border-radius: 20px;
    min-width: 30%;
    padding: 10px;
    margin-top: 10px;
    justify-self: center;
    text-align: center;
}

#interests .topics {
    font-family: 'Jockey One', sans-serif;
    font-size: 16pt;
    display: flex;
    text-align: center;
    justify-content: center;
}

#interests .topics a {
    text-decoration: none;
    color: black;
}

.topic {
    background-color: #D9D9D9;
    box-shadow: 2px 2px 2px black;
    border-radius: 25px;
    min-height: 116px;
    min-width: 25%;
    margin: 20px;
    transition: ease-in-out 0.1s;
}

.topic:hover {
    transform: translateY(-5px)
}

footer {
    height: 68px;
    background-color: #E7F2EF;
    font-style: italic;
    text-align: center;
    grid-column: 1 / 9;
}

@media screen and (max-width: 992px) {
    .card {
        width: 50%;
        font-size: 13pt;
    }

    #interests .topics {
        font-size: 14pt;
    }
}

@media screen and (max-width: 768px) {
    #wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }

    header {
        grid-column: 1 / 8;
    }

    nav {
        background-color: #708993;
        height: 266px;
        grid-column: 1 / 4;
    }

    nav ul {
        flex-flow: column nowrap;
    }

    .nav-item-dropdown:hover .dropdown-content {
        display: none;
    }

    #homehero1 {
        height: 266px;
        grid-column: 4 / 8;
    }

    #homecontent {
        height: fit-content;
        grid-column: 1 / 8;
        flex-flow: column nowrap;
        align-items: center;
    }

    .card {
        width: 50%;
        font-size: 9pt;
    }

    .funfact #funfact {
        display: block;
        margin-top: 1rem;
    }

    #Cannibal {
        display: none;
    }

    #Cannibal_landscape {
        display: block;
        width: 100%;
        height: 190px;
        border-radius: 5px;
    }

    #homehero2 {
        grid-column: 1 / 8;
    }

    #interests {
        grid-column: 1 / 8;
    }

    #interests .topics {
        font-size: 14pt;
    }

    footer {
        grid-column: 1 / 8;
    }
}

@media screen and (max-width: 625px) {
    #Cannibal_landscape {
        display: none;
    }
}

@media screen and (max-width: 525px) {

    .card {
        font-size: 7pt;
    }

    nav {
        background-color: #708993;
        height: 266px;
        grid-column: 1 / 7;
    }

    #homehero1 {
        height: 266px;
        grid-column: 7 / 8;
    }
}